<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TrandetailMapper">
 
 	
 
		
	<resultMap id="trandetailSelectMap" type="trandetail">
		<result property="tdNo" 			column="td_no" 			jdbcType="NUMERIC"/>
		<!--  <result property="tranNo"	column="tran_no" 		jdbcType="NUMERIC" />
		<result property="prodNo" 	column="prod_no" 		jdbcType="NUMERIC" />
		<result property="buyerId" 				column="user_id" 					jdbcType="VARCHAR" />-->
		<result property="stockCnt" 				column="stock_cnt" 					jdbcType="NUMERIC" />
		
		<!-- <collection property="tranProduct" resultMap="TranProduct"/>
		<collection property="tranPurchase" resultMap="TranPurchase"/>
		<collection property="tranUser" resultMap="TranUser"/> -->
		
		
		<association property="tranProduct"  javaType="product">
			<id property="prodNo" column="prod_no" jdbcType="NUMERIC"/>
			<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
			<result property="price" column="price" jdbcType="NUMERIC"/>
			<result property="fileName" column="image_file" jdbcType="NUMERIC"/>
			
		</association>
		
		<association property="tranUser"  javaType="user">
			<id property="userId" column="buyer_id" jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>

		</association>
		
		<association property="tranPurchase"  javaType="purchase">
		
			<id property="tranNo" 			column="tran_no" jdbcType="NUMERIC"/>
				<result property="paymentOption"	column="payment_option" 	jdbcType="VARCHAR" />
				<result property="receiverName" 	column="receiver_name" 		jdbcType="VARCHAR" />
				<result property="receiverPhone" 	column="receiver_phone" 	jdbcType="VARCHAR" />
				<result property="divyAddr" 		column="demailaddr" 		jdbcType="VARCHAR" />
				<result property="divyRequest" 		column="dlvy_request" 		jdbcType="VARCHAR" />
				<result property="tranCode" 		column="tran_status_code" 	jdbcType="VARCHAR" />
				<result property="orderDate" 		column="order_data" 		jdbcType="DATE" />
				<result property="divyDate" 		column="dlvy_date" 			jdbcType="DATE" />
				<result property="totalPrice" 		column="total_price" 			jdbcType="NUMERIC"/>
		</association>
		
		
		
	</resultMap>
	
	
	<!-- 21.11.08 addTranDetail -->
	<insert 	id="addTranDetail"		parameterType="map" >
	 	INSERT INTO trandetail(td_no, tran_no, prod_no, stock_cnt, user_id) VALUES  (seq_td_no.NEXTVAL,#{tranNo},#{prodNo},#{stockCnt},#{userId})	
	</insert>
	
	<!-- 21.11.09 tranNo 받아오기  -->
	<select id="getTrannoSq" resultType="int" >
		select seq_transaction_tran_no.NEXTVAL FROM DUAL
	
	</select>
	
	
	<!-- 21.11.10 getTranDetail -->
	<select 	id="getTranDetailList"	parameterType="int"	resultMap="trandetailSelectMap">
	 SELECT 
	td.TD_NO, td.TRAN_NO, td.PROD_NO, td.STOCK_CNT, td.USER_ID, t.receiver_name, t.receiver_phone, t.payment_option, p.prod_name, p.price, t.demailaddr, t.dlvy_request, t.tran_status_code, t.order_data, t.dlvy_date, t.total_price, p.image_file 	  
	 FROM trandetail td, transaction t, product p WHERE td.TRAN_NO=#{value} AND td.tran_no=t.tran_no AND td.prod_no = p.prod_no 

		
	 </select>
	
	
	
	<select id="getPurchaseList" parameterType="map" resultMap="trandetailSelectMap">
  		SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM ( SELECT t.tran_no, t.buyer_id, u.user_name, u.cell_phone, t.tran_status_code, p.prod_name, p.prod_no, t.stock_count  
										FROM transaction t, users u, product p, trandetail td  
										WHERE t.buyer_id = u.user_id AND td.prod_no=p.prod_no  
										AND u.user_id = #{buyerId}
										ORDER BY tran_no  ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
</select>


	



	
</mapper>